/* XX-Large devices (larger desktops, 1600px and up) */
@media (max-width: 1600px) {
   
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
    .heading {
        font-size: 70px;
        line-height: 64px; 
    }
    .hero-section .carousel-caption h1{
        font-size: 70px;
        line-height: 75px;
    }
    .footer-section {
        padding: 150px 0px 70px;
    }
    .explor-section .slide-box .number{
        font-size: 80px;
        top: 10px;
    }
    .contact-part p {
        font-size: 76px;
        line-height: 80px;
        margin-bottom: 0px;
    }
    .contact-part .contact-btn{
        width: 150px;
        height: 150px;
        margin-top: -35px;
    }
    .contact-btn span{
        font-size: 28px;
    }
    .contact-part {
        padding: 150px 0px 150px; 
    }
    .header-banner .title{
        font-size: 90px;
    }
    /* ------------------ second section ------------- */
    .second-section .inner-box{
        margin-right: 0px;
    }
    .second-section .img-one {
        width: 85%;
    }
    .logoSlide-section img {
        width: 150px;
    }
   
    .about-section::after, 
    .explor-section::after,
    .contact-part::after, 
    .second-section::after, 
    .footer-section::after
    {
        height: 125px;
        top: -62.5px;
    }
    .explor-section::before{
        height: 125px;
        bottom: -62.5px;
    }
  
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .heading {
        font-size: 60px;
        line-height: 53px; 
    }
    .hero-section .carousel-caption h1{
        font-size: 60px;
        line-height: 65px;
    }
    .hero-section .header-logo{
        width: 300px;
    }
    .fix-menu-icon img{
        width: 54px;
    }
    .close-menu{
        width: 54px;
    }
    .hero-section .carousel-control-circle{
        width: 54px;
        height: 54px;
    }
    .explor-section .owl-carousel .owl-item img{
        width: 440px;
    }
    .explor-section .slide-box .number{
        font-size: 70px;
        
    }
    .explor-section .slide-ovelay .hover-text{
        font-size: 36px;
    }
    .explor-section {
        padding: 150px 0px 125px;
    }
    .explor-section .owl-theme .owl-nav{
        top: -100px;
    }
    .head-content {
        margin-bottom: 50px;
    }

    /* ---------- about section ------------ */
    .about-section {
        padding: 130px 0px 125px;
    }
    .second-section{
        padding: 130px 0px;
    }
    .contact-part {
        padding: 130px 0px 130px; 
    }
    .about-gallery .long{
        height: 440px;
        margin-bottom: 5px;
    }
    .about-gallery .short{
       height: 220px;
        margin-bottom: 5px;
    }
    .about-gallery .g-2,
    .gx-2 {
    --bs-gutter-x: 0.313rem !important;
    }
    .about-gallery .see-more-btn{
        width: 140px;
        height: 140px;
        font-size: 22px;
    }
    .about-gallery .box{
        height: 230px; 
    }
    .contact-part p {
        font-size: 66px;
        line-height: 70px;
        margin-bottom: 0px;
    }
     /* -------------------- second page ----------------- */
     .banner-caption h1{
        font-size: 60px;
        line-height: 64px;
    }
    .header-banner .title{
        font-size: 70px;
    }
    .logoSlide-section {
        padding: 130px 0px;
    }
    #logo-slider {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .logoSlide-section .owl-prev {
        left: -20px;
    }
    .logoSlide-section .owl-next {
        right: -20px;
    }
    .logoSlide-section .owl-theme .owl-nav{
        top: 38%;
    }
    .explor-section .swiper-slide {
        width: 500px;
    }
    .logo-slider{
        max-width: 850px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
     /* -------------------- second page ----------------- */
     .banner-caption h1{
        font-size: 50px;
        line-height: 54px;
    }
    .header-banner .title{
        font-size: 60px;
    }
    .second-section .img-one {
       margin-top: 60px;
    }
    .second-section .img-two {
        width: 50%;
        height: auto;
    }
    .second-section .inner-box{
        margin-top: -138px;
    }
     /* -------------------- home page ----------------- */
    .heading {
        font-size: 50px;
        line-height: 43px; 
        letter-spacing: 0.10px;
    }
    .hero-section .header-logo{
        width: 250px;
    }
    .hero-section .carousel-caption h1{
        font-size: 50px;
        line-height: 55px;
    }
    .contact-part p {
        font-size: 56px;
        line-height: 60px;
        margin-bottom: 0px;
    }
    .contact-part .fist-line {
        letter-spacing: -0.9px;
    }
    .contact-part .second-line{
        letter-spacing: 0.9px;
    }
    /* slider section */
    .explor-section .owl-stage-outer .owl-item:nth-child(even) {
        margin-top: 0px;
    }
    .explor-section .owl-carousel .owl-item img{
        width:440px;
       
    }
    .explor-section .slide-box .number{
        font-size: 50px;
    }
    .contact-part .contact-btn{
        display: none;
    }
    .contact-part {
        padding: 80px 0px 140px; 
    }
    /* about section */
    .about-section .about-text{
        margin-left: 0px;
    }
   
    /* foooter */
    .footer-section {
        padding: 140px 0px 65px;
    }
    .footer-section .address{
        padding-top: 45px;
    }
    .footer-section .line {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .footer-section .footer-btn{
        align-items: center;
        justify-content: center;
    }
    .btm-text li:not(:last-child) {
        margin-right:30px;
    }
    .logoSlide-section img {
        width: 140px;
    }
    .explor-section .swiper-slide {
        width: 450px;
    }
    
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .fix-menu-icon{
       top: 20px;
        right: 20px;
    }
    .close-menu{
        width: 48px;
    }
    .offcanvas-header span{
        font-size: 14px;
    }
    .offcanvas-body h6{
        font-size: 28px;
    }
    .fix-menu-icon img{
        width: 48px;
    }
    .hero-section .up-tilte,
    .banner-caption .up-tilte{
        font-size: 14px;
        letter-spacing: 0px;
    }
    .hero-section .carousel-inner{
        text-align: start;
    }
    .hero-section .header-logo{
        margin-top: 32px;
        margin-left: 30px;
        width: 200px;
    }
    .offcanvas-header {
        padding: 20px 20px 0px 30px;
    }
    .hero-section .carousel-control-circle{
        width: 48px;
        height: 48px;
    }
    .carousel-control-prev, .carousel-control-next{
        align-items: end;
        bottom: 20px;
    }
    .hero-section .carousel-caption{
        top: 50%;
        transform: translateY(-50%);
    }
    .hero-section .carousel-caption h1{
        font-size: 40px;
        line-height: 44px;
        margin-top: 0px;
    }
    .heading .head-one{
        padding-left: 54px;
    }
    .heading .head-two{
        padding-left: 165px;
    }
    .up-tilte{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .about-section::after, 
    .explor-section::after,
    .contact-part::after, 
    .second-section::after, 
    .footer-section::after
    {
        height: 100px;
        top: -50px;
    }
    .explor-section::before{
        height: 100px;
        bottom: -50px;
    }
    /* ------------slider section -------------- */
    .explor-section .owl-carousel .owl-item img{
        width:330px;
    }
    .explor-section {
        padding: 125px 0px 60px;
    }
    .explor-section .slide-box .number{
        font-size: 36px;
    }
    .slide-box h3{
        font-size: 28px;
        margin-top: 18px;
        margin-bottom: 8px;
    }
    .explor-section .slide-ovelay .hover-text{
        font-size: 28px;
    }
    .slide-box .more-btn{
        opacity: 1;
        font-size: 14px;
    }
    .explor-section .slide-box:hover .more-btn{
        opacity: 1;
        top: 0px;
    }
    .slide-box .sub-title{
        display: none;
      }

    .explor-section .heading{
        margin-bottom: 90px;
    }
    .explor-section .owl-theme .owl-nav{
        left: 180px;
        top: -50px;
    }

    .explor-section .swiper-slide {
        width: 400px;
    }

    /* -------------- about section --------- */
    .about-text p:nth-child(2){
        margin-top: 30px;
    }
    .second-text p:nth-child(2){
        margin-top: 30px;
    }
    .about-section {
        padding: 110px 0px;
    }
    .second-section{
        padding: 110px 0px;
    }
    .about-section .about-text {
        padding: 12px 0px 60px;
    }
    .about-text .btn {
        margin-top: 24px;
    }

    .about-gallery .long{
        height: 248px;
        margin-bottom: 2px;
    }
    .about-gallery .short{
       height: 144px;
        margin-bottom: 2px;
    }
    .about-gallery .g-2,
    .gx-2 {
    --bs-gutter-x: 0.188rem !important;
    }
    .about-gallery .see-more-btn{
        width: 80px;
        height: 80px;
        font-size: 14px;
    }
    .about-gallery .box{
        height: 144px; 
    }

    
    /* ------------contact section -------------- */
    .contact-part {
        padding: 60px 0px 110px; 
    }
    .contact-part p {
        font-size: 46px;
        line-height: 50px;
        margin-bottom: 0px;
    }
    /* ------------footer section -------------- */
    .footer-section {
        padding: 110px 0px 60px;
    }
    .heading {
        font-size: 40px;
        line-height: 33px; 
        letter-spacing: 0.08px;
    }
    .footer-section .address{
        padding-top: 38px;
        text-align: center;
    }
    .footer-section .footer-btn{
      margin-top: 40px;
      height: auto;
    }
    .btn-custom{
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.6px;
        padding: 10px 30px;
        height: 48px;
    }
    .social-link{
        margin-bottom: 43px;
    }
    .btm-text li:not(:last-child){
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .btm-link{
        margin-top: 56px;
    }
   
    .btm-text li{
        font-size: 14px;
    }
    .btm-text{
        text-align: center;
    }
    .btm-link li{
        font-size: 14px;
    }

    /* -------------------- second page ----------------- */
    .banner-caption h1{
        font-size: 40px;
        line-height: 44px;
    }
    .header-banner .title{
        font-size: 40px;
        position: absolute;
        top: 20px;
        left: 30px;
        margin-bottom: 0px;
    }
    .second-section .btn-box{
        margin-top: 40px;
    }
    .contact-icon a{
        width: 48px;
        height: 48px;
    }
     .second-section .img-two {
        width: 45%;
    }
    .second-section .inner-box {
        margin-top: -96px;
    }
    .second-section .stock .number{
        font-size: 40px;
    }
    .second-section .stock .text{
        font-size: 14px;
        line-height: 20px;
    }
    .second-section .stock{
        width: 80px;
        height: 80px;
        margin-right: -38px;
    }
    .logoSlide-section {
        padding: 110px 0px;
    }
    #logo-slider {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .logoSlide-section img {
        width: 120px;
    }
    .head-content{
        margin-bottom: 110px;
    }
    .mf-cursor{
        display: none;
    }
 
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
    .container-fluid {
        padding-right: 30px;
        padding-left: 30px;
    }
    body{
        font-size: 16px;
    }
    .offcanvas-end{
        width: 100%;
    }
    .offcanvas-body {
        padding: 70px 30px 0px 30px;
    }
    .hero-section .header-logo{
        width: 162px;
    }
    
    .about-gallery .long{
        height: 169px;
        margin-bottom: 2px;
    }
    .about-gallery .short{
       height: 71px;
        margin-bottom: 2px;
    }
    .about-gallery .g-2,
    .gx-2 {
    --bs-gutter-x: 0.188rem !important;
    }
    .about-gallery .see-more-btn{
        width: 60px;
        height: 60px;
        font-size: 12px;
    }
    .about-gallery .box{
        height: 71px; 
    }
    .contact-part p {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 0px;
    }
    .second-section .stock .number{
        font-size: 36px;
    }
    .second-section .stock .text{
        font-size: 10px;
    }
    .second-section .stock{
        width: 66px;
        height: 66px;
    }
    .second-section .inner-box{
        margin-top: -92px;
    }
    .logoSlide-section img{
        width: 96px;
    }
    .explor-section .owl-theme .owl-nav{
        left: 80px;
        top: -50px;
    }


    .explor-section .swiper-slide {
        width: 330px;
    }
    
}
/* Small devices (landscape phones, 390px and up) */
@media (max-width: 400px) {
    .second-section .stock {
        margin-right: -33px;
    }
    .second-section .inner-box {
        margin-top: -60px;
    }
}


