@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@font-face {
    font-family: fluro;
    src: url(../fonts/FLURO-Regular.otf);
    font-weight: 400;
  }
  
  @font-face {
    font-family: fluro-light;
    src: url(../fonts/FLURO-Light.otf);
    font-weight: 300;
  }
  @font-face {
    font-family: fluro-bold;
    src: url(../fonts/FLURO-Bold.otf);
    font-weight: 700;
  }
  @font-face {
    font-family: bold-outline;
    src: url(../fonts/FLURO-Bold-Outline.otf);
   
  }
  @font-face {
    font-family: fluro-semibold;
    src: url(../fonts/FLURO-Semibold.otf);
    font-weight: 600;
  }


a{
    text-decoration: none;
    color: #C19A5B;
}
a:hover{
    color: #C19A5B;
}
.heading{
    font-size: 76px;
    line-height: 64px;
    font-family: 'Lora', serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -2px;
    
}

body{
    font-size: 18px;
    font-family: 'Lora', serif;
}
.html-inner{
    height: 100vh;
    overflow: hidden;
}
.body-inner{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

  
 .main-wrapper {
    position: relative;
    z-index: 2;
  }

/* menu part */
.header-part{
    top: 20px;
    right: 30px;
    position: fixed;
    z-index: 99;
}
.fix-menu-icon{
    top: 20px;
    right: 30px;
    position: fixed;
    z-index: 99;
}
.fix-menu-icon img{
    width: 64px;
}
.close-menu{
    width: 64px;
    cursor: pointer;
}
.offcanvas-header{
    padding: 20px 30px 0px 50px;
}
.offcanvas-end{
    width: 445px;
    background-color: #544C43;
    color: #fff;
}
.offcanvas-header span{
    font-family: fluro;
    font-size: 16px;
    line-height: 2;
    color: #c19a5b;
    text-transform: uppercase;
}
.offcanvas-body{
    padding: 110px 75px 0px 75px;
}
.offcanvas-body h6{
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 400;
}
.menu-box{
    margin-left: 15px;
    margin-bottom: 22px;
}
.menu-box li a{
    font-size: 16px;
    line-height: 32px;
    color: #fff !important;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-family: fluro;
}
.menu-box li a.active{
    color: #c19a5b !important;
}
.offcanvas-body .line{
    background-color: #615544;
    height: 1px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.offcanvas-body .btn-custom{
    margin-top: 15px;
}
.up-tilte{
    font-family: fluro-semibold;
    display: inline-block;
    color: #c19a5b;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.hero-section .up-tilte,
.banner-caption .up-tilte{
    font-family: fluro;
    font-size: 24px;
    font-weight: 400;
}
.btn-custom{
    padding: 10.5px 30px;
    border-radius: 2px;
    background-color: #c19a5b;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
    text-transform: uppercase;
    line-height: 32px;
    font-family: fluro-semibold;
    font-weight: 600;
}
.btn-custom.btn:hover{
    color: #fff;
}
.about-section::after, 
.explor-section::after,
.contact-part::after, 
.second-section::after, 
.footer-section::after
{
    content: '';
    width: 1px;
    height: 150px;
    background-color: #c19a5b;
    position: absolute;
    z-index: 10;
    right: 0;
    left: 0;
    top: -75px;
    margin: auto;
}
.explor-section::before{
    content: '';
    width: 1px;
    height: 150px;
    background-color: #c19a5b;
    position: absolute;
    z-index: 10;
    right: 0;
    left: 0;
    bottom: -75px;
    margin: auto;
}



.hero-section {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
  }
  
 .hero-section::after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: block;
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    -webkit-transform-origin: center center 0;
    -webkit-transform: translateZ(-1px) scale(2);
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
  }

.hero-section:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: #15130e;
    opacity: 0.5;
    height: 100%;
    width: 100%;
} 
.hero-section h1{
    font-size: 76px;
    line-height: 80px;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-weight: 400;
}
.heading .head-one{
    padding-left: 100px;
    letter-spacing: 0.15px;
}
.heading .head-two{
    padding-left: 300px;
    letter-spacing: 0.15px;
}
  /* ---- Carousel custom Code ---- */
.hero-section .carousel-caption{
    top: 83%;
    transform: translateY(-83%);
}
.hero-section .header-logo{
    margin-top: 11%;
    width: 350px;
}
.hero-section .carousel-inner{
    text-align: center;
}
.hero-section .carousel-item{
    height: 100vh;
}
.hero-section .carousel-control-prev, .hero-section .carousel-control-next{
    position: fixed !important;
  
}
.hero-section .carousel-control-circle{
    border: solid 1px #c19a5b;
    border-radius: 50%;
    height: 66px;
    width: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .carousel-control-prev-icon,
.hero-section .carousel-control-next-icon {
  width: 22px;
  height: 22px;
}
.hero-section .carousel-caption h1{
    line-height: 80px;
    margin-top: 10px;
}
/* =================== about Section =================== */
.about-section{
    background-color: #f9f5ef;
    position: relative;
    z-index: 1;
    padding: 165px 0px 155px;
}

.about-section .about-text{
    margin-left: 300px;
    max-width: 670px;
    padding: 22px 0px 90px;
    font-family: fluro;
    font-weight: 400;
}
.about-text p:nth-child(2){
    margin-top: 40px;
}
.second-text p:nth-child(2){
    margin-top: 40px;
}
.about-text .btn{
    margin-top: 55px;
}

.about-gallery .long{
  height: 597px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;

}
.about-gallery .short{
  height: 248px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-gallery .g-2,
.gx-2 {
  --bs-gutter-x: 0.625rem !important;
}
.about-gallery .see-more-btn{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: solid 1px #c19a5b;
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 32px;
   line-height: 1;
   text-transform: uppercase;
   color: #c19a5b;
   font-weight: 400;
    font-family: 'Lora', serif;
}
.about-gallery .box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 248px;

}
/* =================== explor Section =================== */
.explor-section{
    background-color: #615544;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 200px 0px;
}
.explor-section .slide-box {
    margin-top: 50px;
}
.head-content{
    margin-bottom: 100px;
}
.explor-section .slide-box .number{
    font-size: 96px;
    line-height: 80px;
    font-family: 'Lora', serif;
    display: block;
    text-align: end;
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #e0c7a0;
    -webkit-text-stroke-width: 1px;
    z-index: 3;
    transition: all 1s;
}
.explor-section .owl-stage-outer .owl-item:nth-child(even) {
    margin-top: 60px;
}
.explor-section .owl-carousel .owl-item img{
    max-width: 570px;
}
.explor-section .slide-box:hover .number{
    -webkit-text-fill-color: #e0c7a0;
}
.explor-section .slide-ovelay{
    position: relative;
    transition: all 1s;
}
.explor-section .slide-box:hover .slide-ovelay::after{
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: #15130e;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: 2;

}
.explor-section .slide-ovelay .hover-text{
    position: absolute;
    top: 0;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    opacity: 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}
.explor-section .slide-box:hover .hover-text{
    opacity: 1;
}
.explor-section .slide-ovelay{
    overflow: hidden;
}
.explor-section .slide-ovelay img{
    transition: all .4s;
}
.explor-section .slide-box:hover .slide-ovelay img{
    transform: scale(1.1);
}
.slide-box h3{
    margin-top: 12px;
    margin-bottom: 18px;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 400;
}
.slide-box .title-box{
    position: relative;
    margin-bottom: 50px;
}
.slide-box .sub-title{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  transition: all .2s;
  font-family: fluro;
  font-weight: 400;
}
.explor-section .slide-box:hover .sub-title{
    opacity: 0;
    top: -10px;
}
.slide-box .more-btn{
    font-size: 16px;
    color: #C19A5B;
    opacity: 0;
   position: absolute;
   left: 0;
   top: 0;
   transition: all .2s;
   font-family: fluro;
   font-weight: 400;
}
.explor-section .slide-box:hover .more-btn{
    opacity: 1;
    top: -10px;
}
/* ------slider arrow design ----- */
.explor-section .owl-theme .owl-nav{
    margin-top: 0px;
    position: absolute;
    top: -150px;
    right: 28%;
    width: 50px;
    height: 50px;
    border-radius: 24px;
    border: solid 1px #c19a5b;
    background-color: #F9F5EF;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.explor-section .owl-theme .owl-nav::before{
    content: '';
    width: 270px;
    height: 1px;
    background-color: #e8d9c3;
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
#multi-slider.owl-theme .owl-nav [class*=owl-]{
    font-size: 20px !important;
    margin: 2px !important;
}
.owl-theme .owl-nav [class*=owl-]{
    color: #c19a5b !important;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background-color: transparent;
}
/* =================== Contact part =================== */
.contact-part{
    background-color: #f9f5ef;
    padding: 165px 0px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.contact-part p{
    -webkit-text-stroke: 1px #e0c7a0;
    font-family: Lora;
    font-size: 96px;
    line-height: 0.83;
    letter-spacing: 2.4px;
    color: rgba(255, 255, 255, 0);
    min-width: 2000px;
    text-transform: uppercase;
}
.contact-part .fist-line{
    margin-left: 20%;
   
}
.contact-part .second-line{
    margin-left: 0px;
    
}
.contact-part .contact-btn{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: solid 1px #c19a5b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 142px;
    float: right;
    margin-top: -48px;
    position: relative;
    z-index: 2;
}
.contact-btn span{
    font-family: Lora;
    font-size: 32px;
    line-height: 1;
    color: #c19a5b;
    text-align: center;
    text-transform: uppercase;
}
/* =================== footer section =================== */
.footer-section{
    color: #fff;
    background-color: #544c43;
    padding: 200px 0px 90px;
    position: relative;
    z-index: 1;
}
.footer-section .footer-logo{
    width: 176px;
    width: 176px
}  
.footer-section .footer-btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
  }
.footer-section .line{
    height: 1px;
    width: 100%;
    background-color: #615544;
    margin-top: 70px;
    margin-bottom: 50px;
}
.footer-section .address li{
    line-height: 32px;
    font-family: fluro;
    font-weight: 400;
}
.footer-section .address li:first-child{
    font-family: fluro-semibold;
    font-weight: 600;
}
.footer-section .social-link a{
    width: 48px;
    height: 48px;
    background-color: #c19a5b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section .social-link a i{
    color: #fff;
}

.footer-section .btm-footer{
    margin-top: 88px;
}
.btm-text{
    color: rgba(255, 255, 255, 0.5);
}
.btm-link li a{
    color: #fff;
}
.btm-text li{
    font-size: 16px;
    font-family: fluro;
}
.btm-link li{
    font-size: 16px;
    font-family: fluro;
}
.btm-text li:not(:last-child){
    margin-right: 42px;
}
.btm-link li:not(:last-child){
    margin-right: 30px;
}



/* ------------------- details page -------------------- */

.header-banner {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

.header-banner::before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: block;
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    -webkit-transform-origin: center center 0;
    -webkit-transform: translateZ(-1px) scale(2);
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
  }
  
.header-banner::after{
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: #15130E;
    opacity: 0.5;
    height: 100%;
    width: 100%; 
}
.header-banner .title{
    font-size:110px;
    color: #fff;
    text-align: center;
    display: block;
    position: relative;
    z-index: 2;
   margin-bottom: 280px;
}
.banner-caption{
    position: relative;
    z-index: 2;
    text-align: center;
}
.banner-caption h1{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 80px;
    margin: 0px;
    font-weight: 400;
}
.second-section{
    background-color: #fff;
    position: relative;
    padding: 165px 0px;
}
.second-section .heading{
    margin-bottom: 20px;
}
.second-section .btn-box{
    margin-top: 60px;
}
.btn-box .btn{
    margin-right: 30px;
}
.btn-box .contact-icon a:not(:last-child){
    margin-right: 10px;
}
.contact-icon a{
    width: 53px;
    height: 53px;
    background-color: #615544;
    border-radius: 2px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-section .img-one{
    width: 100%;
}
.second-section .img-two{
    width: 300px;
    height: 240px;
    position: relative;
    z-index: 2;
}
.second-section .second-text {
    max-width: 500px;
    font-family: fluro;
}
.second-section .stock{
    width: 100px;
    height: 100px;
    background-color: #C19A5B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: 1px solid #C19A5B;
    outline-offset: 3px;
    z-index: 3;
    position: relative;
    margin-right: -50px;
}

.second-section .stock .number{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 37px; 
}
.second-section .stock .text{
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF80;
}
.second-section .inner-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -120px;
    margin-right: -100px;
}
.logoSlide-section{
    padding: 165px 0px;
    position: relative;
}
.logoSlide-section .line{
    height: 1px;
    width: 100%;
    background-color: #E8D9C3; 
}
#logo-slider{
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1030px;
    margin: auto;
}
.logoSlide-section .owl-theme .owl-nav{
   margin-top: 0px;
   position: absolute;
   top: 45%;
   transform: translateY(-45%);
   width: 100%;
}
.logoSlide-section .owl-prev {
    position: absolute;
    left: -60px;
}
.logoSlide-section .owl-next {
    position: absolute;
    right: -60px;
}
.logoSlide-section .owl-carousel .owl-item img{
    width: 170px;
}
#logo-slider.owl-theme .owl-nav [class*=owl-]{
    font-size: 22px !important;
    
}   


.mf-cursor.-text:before {
    opacity: 1;
    transform: scale(1.2);
}
.mf-cursor-text{
    color: #fff;
    font-size: 18px;
    font-family: 'Lora', serif;
    top: 0;
    left:0;
}
.mf-cursor::before{
    background-color: transparent;
    width: 80px;
    height: 80px;
}   
.mf-cursor.-text:before{
    background-color: #C19A5B;
}