@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@font-face {
    font-family: fluro;
    src: url(../fonts/FLURO-Regular.otf);
    font-weight: 400;
  }
  
  @font-face {
    font-family: fluro-light;
    src: url(../fonts/FLURO-Light.otf);
    font-weight: 300;
  }
  @font-face {
    font-family: fluro-bold;
    src: url(../fonts/FLURO-Bold.otf);
    font-weight: 700;
  }
  @font-face {
    font-family: bold-outline;
    src: url(../fonts/FLURO-Bold-Outline.otf);
   
  }
  @font-face {
    font-family: fluro-semibold;
    src: url(../fonts/FLURO-Semibold.otf);
    font-weight: 600;
  }


a{
    text-decoration: none;
    color: #C19A5B;
}
a:hover{
    color: #C19A5B;
}
.heading{
    font-size: 76px;
    line-height: 64px;
    font-family: 'Lora', serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -2px;
    
}

body{
    font-size: 18px;
    font-family: 'Lora', serif;
}
.html-inner{
    height: 100vh;
    overflow: hidden;
}
.body-inner{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

  
 .main-wrapper {
    position: relative;
    z-index: 2;
  }

/* menu part */

.fix-menu-icon{
    top: 20px;
    right: 30px;
    position: fixed;
    z-index: 99;
}
.Hamburger{
  border: 1px solid #c19a5b;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.Hamburger i{
  font-size: 24px;
  color:#c19a5b ;
}
.icon-wrap.parallax-wrap:hover .Hamburger{
  border: solid 1px transparent;	
}
.fix-menu-icon img{
    width: 64px;
}
.close-menu{
    width: 64px;
    cursor: pointer;
}
.offcanvas-header{
    padding: 20px 30px 0px 50px;
}
.offcanvas-end{
    width: 445px;
    background-color: #544C43;
    color: #fff;
}
.offcanvas-header span{
    font-family: fluro;
    font-size: 16px;
    line-height: 2;
    color: #c19a5b;
    text-transform: uppercase;
}
.offcanvas-body{
    padding: 110px 75px 0px 75px;
}
.offcanvas-body h6{
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 400;
}
.menu-box{
    margin-left: 15px;
    margin-bottom: 22px;
}
.menu-box li a{
    font-size: 16px;
    line-height: 32px;
    color: #fff !important;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-family: fluro;
}
.menu-box li a.active{
    color: #c19a5b !important;
}
.offcanvas-body .line{
    background-color: #615544;
    height: 1px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.offcanvas-body .btn-custom{
    margin-top: 15px;
}
.up-tilte{
    font-family: fluro-semibold;
    display: inline-block;
    color: #c19a5b;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.hero-section .up-tilte,
.banner-caption .up-tilte{
    font-family: fluro;
    font-size: 24px;
    font-weight: 400;
}
.btn-custom{
    padding: 10.5px 30px;
    border-radius: 2px;
    background-color: #c19a5b;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
    text-transform: uppercase;
    line-height: 32px;
    font-family: fluro-semibold;
    font-weight: 600;
}
.btn-custom.btn:hover{
    color: #fff;
}
.about-section::after, 
.explor-section::after,
.contact-part::after, 
.second-section::after, 
.footer-section::after
{
    content: '';
    width: 1px;
    height: 150px;
    background-color: #c19a5b;
    position: absolute;
    z-index: 10;
    right: 0;
    left: 0;
    top: -75px;
    margin: auto;
}
.explor-section::before{
    content: '';
    width: 1px;
    height: 150px;
    background-color: #c19a5b;
    position: absolute;
    z-index: 10;
    right: 0;
    left: 0;
    bottom: -75px;
    margin: auto;
}



.hero-section {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
  }
  
 .hero-section::after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: block;
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    -webkit-transform-origin: center center 0;
    -webkit-transform: translateZ(-1px) scale(2);
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
  }

.hero-section:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: #15130e;
    opacity: 0.5;
    height: 100%;
    width: 100%;
} 
.hero-section h1{
    font-size: 76px;
    line-height: 80px;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-weight: 400;
}
.heading .head-one{
    padding-left: 100px;
    letter-spacing: 0.15px;
}
.heading .head-two{
    padding-left: 300px;
    letter-spacing: 0.15px;
}
  /* ---- Carousel custom Code ---- */
.hero-section .carousel-caption{
    top: 83%;
    transform: translateY(-83%);
}
.hero-section .header-logo{
    margin-top: 11%;
    width: 350px;
}
.hero-section .carousel-inner{
    text-align: center;
}
.hero-section .carousel-item{
    height: 100vh;
}
.hero-section .carousel-control-prev, .hero-section .carousel-control-next{
    position: fixed !important;
  
}
.hero-section .carousel-control-circle{
    border: solid 1px #c19a5b;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.icon-wrap.parallax-wrap:hover .carousel-control-circle{
  border: solid 1px transparent;	
}
.hero-section .carousel-control-prev-icon,
.hero-section .carousel-control-next-icon {
  width: 22px;
  height: 22px;
}
.hero-section .carousel-caption h1{
    line-height: 80px;
    margin-top: 10px;
}
/* =================== about Section =================== */
.about-section{
    background-color: #f9f5ef;
    position: relative;
    z-index: 1;
    padding: 165px 0px 155px;
}

.about-section .about-text{
    margin-left: 300px;
    max-width: 670px;
    padding: 22px 0px 90px;
    font-family: fluro;
    font-weight: 400;
}
.about-text p:nth-child(2){
    margin-top: 40px;
}
.second-text p:nth-child(2){
    margin-top: 40px;
}
.about-text .btn{
    margin-top: 55px;
}

.about-gallery .long{
  height: 597px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;

}
.about-gallery .short{
  height: 248px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-gallery .g-2,
.gx-2 {
  --bs-gutter-x: 0.625rem !important;
}
.about-gallery .see-more-btn{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: solid 1px #c19a5b;
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 32px;
   line-height: 1;
   text-transform: uppercase;
   color: #c19a5b;
   font-weight: 400;
    font-family: 'Lora', serif;
}
.clapat-button-wrap.circle:hover .see-more-btn{
  border: solid 1px transparent;	
}
.about-gallery .box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 248px;

}


/* =================== explor Section =================== */
.explor-section{
    background-color: #615544;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 200px 0px;
}
.explor-section .swiper-slide {
    margin-top: 50px;
    width: 570px;
}
.head-content{
    margin-bottom: 100px;
}
.explor-section .swiper-slide .number{
    font-size: 96px;
    line-height: 80px;
    font-family: 'Lora', serif;
    display: block;
    text-align: end;
    position: absolute;
    z-index: 2;
    top: -40px;
    right: 10px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #e0c7a0;
    -webkit-text-stroke-width: 1px;
    z-index: 3;
    transition: all 1s;
}
.explor-section .swiper-slide:nth-child(even) {
    margin-top: 110px;
}
.explor-section .swiper-slide:hover .number{
    -webkit-text-fill-color: #e0c7a0;
}
.explor-section .slide-ovelay{
    position: relative;
    transition: all 1s;
}
.explor-section .swiper-slide:hover .slide-ovelay::after{
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: #15130e;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: 2;

}
.explor-section .slide-ovelay .hover-text{
    position: absolute;
    top: 0;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    opacity: 0;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}
.explor-section .slide-ovelay .hover-text span{
  color: #fff;
}
.explor-section .swiper-slide:hover .hover-text{
    opacity: 1;
}
.explor-section .slide-ovelay{
    overflow: hidden;
}
.explor-section .slide-ovelay img{
    transition: all .4s;
    width: 100%;
}
.explor-section .swiper-slide:hover .slide-ovelay img{
    transform: scale(1.1);
}
.swiper-slide h3{
    margin-top: 12px;
    margin-bottom: 18px;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 400;
}
.swiper-slide .title-box{
    position: relative;
    margin-bottom: 50px;
}
.swiper-slide .sub-title{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  transition: all .2s;
  font-family: fluro;
  font-weight: 400;
}
.explor-section .swiper-slide:hover .sub-title{
    opacity: 0;
    top: -10px;
}
.swiper-slide .more-btn{
    font-size: 16px;
    color: #C19A5B;
    opacity: 0;
   position: absolute;
   left: 0;
   top: 0;
   transition: all .2s;
   font-family: fluro;
   font-weight: 400;
}
.explor-section .swiper-slide:hover .more-btn{
    opacity: 1;
    top: -10px;
}
/* =================== Contact part =================== */
.contact-part{
    background-color: #f9f5ef;
    padding: 165px 0px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    /* transition: all 3s; */
}
.contact-part p{
    -webkit-text-stroke: 1px #e0c7a0;
    font-family: Lora;
    font-size: 96px;
    line-height: 0.83;
    letter-spacing: 2.4px;
    color: rgba(255, 255, 255, 0);
    min-width: 2000px;
    text-transform: uppercase;
    transition: all 1s;
}

.mouse-deisgn a:hover p{
  transition: all 1s;
  -webkit-text-stroke-color: #c19a5b;
    -webkit-text-fill-color: #c19a5b;
   
}
.contact-text{
  width: 100%;
  height: 100%;
}
.contact-box{
  width: 170px;
  height: 170px;
  margin-left: auto;
  margin-right: 142px;
  margin-top: -48px;
}
.contact-btn{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: solid 1px #c19a5b;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.clapat-button-wrap.circle:hover .contact-btn{
  border: solid 1px transparent;	
}
.contact-btn span{
    font-family: Lora;
    font-size: 32px;
    line-height: 1;
    color: #c19a5b;
    text-align: center;
    text-transform: uppercase;
}
/* =================== footer section =================== */
.footer-section{
    color: #fff;
    background-color: #544c43;
    padding: 200px 0px 90px;
    position: relative;
    z-index: 1;
}
.footer-section .footer-logo{
    width: 176px;
    width: 176px
}  
.footer-section .footer-btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
  }
.footer-section .line{
    height: 1px;
    width: 100%;
    background-color: #615544;
    margin-top: 70px;
    margin-bottom: 50px;
}
.footer-section .address li:first-child{
  font-family: fluro;
  font-weight: 400;
}
.footer-section .address li{
    line-height: 32px;
    font-family: fluro-light;
    font-weight: 300;
}

.footer-section .social-link a{
    width: 48px;
    height: 48px;
    background-color: #c19a5b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-section .social-link a i{
    color: #fff;
}

.footer-section .btm-footer{
    margin-top: 88px;
}
.btm-text{
    color: rgba(255, 255, 255, 0.5);
}
.btm-link li a{
    color: #fff;
    font-size: 16px;
    font-family: fluro;
}
.btm-text li{
    font-size: 16px;
    font-family: fluro;
}
.btm-text li:not(:last-child){
    margin-right: 42px;
}
.btm-link li:not(:last-child){
    margin-right: 30px;
}



/* ------------------- details page -------------------- */

.header-banner {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    padding-right: 30px;
    padding-left: 30px;
}

.header-banner::before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: block;
    background-image: url(../images/hero-background.jpg);
    background-size: cover;
    -webkit-transform-origin: center center 0;
    -webkit-transform: translateZ(-1px) scale(2);
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
  }
  
.header-banner::after{
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: #15130E;
    opacity: 0.5;
    height: 100%;
    width: 100%; 
}
.header-banner .title{
    font-size:110px;
    color: #fff;
    text-align: center;
    display: block;
    position: relative;
    z-index: 2;
   margin-bottom: 280px;
}
.banner-caption{
    position: relative;
    z-index: 2;
    text-align: center;
}
.banner-caption h1{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 80px;
    margin: 0px;
    font-weight: 400;
}
.second-section{
    background-color: #fff;
    position: relative;
    padding: 165px 0px;
}
.second-section .heading{
    margin-bottom: 20px;
}
.second-section .btn-box{
    margin-top: 60px;
}
.btn-box .btn{
    margin-right: 30px;
}
.btn-box .contact-icon a:not(:last-child){
    margin-right: 10px;
}
.contact-icon a{
    width: 53px;
    height: 53px;
    background-color: #615544;
    border-radius: 2px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-section .img-one{
    width: 100%;
}
.second-section .img-two{
    width: 300px;
    height: 240px;
    position: relative;
    z-index: 2;
}
.second-section .second-text {
    max-width: 500px;
    font-family: fluro;
}
.second-section .stock{
    width: 100px;
    height: 100px;
    background-color: #C19A5B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: 1px solid #C19A5B;
    outline-offset: 3px;
    z-index: 3;
    position: relative;
    margin-right: -50px;
}

.second-section .stock .number{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 37px; 
}
.second-section .stock .text{
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF80;
}
.second-section .inner-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -120px;
    margin-right: -100px;
}
.logoSlide-section{
    padding: 165px 0px;
    position: relative;
}
.logoSlide-section .container{
    overflow: hidden;
    position: relative;
}
.logoSlide-section .line{
    height: 1px;
    width: 100%;
    background-color: #E8D9C3; 
}
.logo-slider{
    max-width: 1030px;
    margin: auto;
    overflow: hidden;
}
.content-looped-carousel{
  padding-top: 60px;
  padding-bottom: 60px;
}
.logoSlide-section img{
    width: 170px;
}





/* ------------------------------------- magic-cursor -------------------------------- */
/* ------------------------------------- magic-cursor -------------------------------- */
/* ------------------------------------- magic-cursor -------------------------------- */
	
	
#magic-cursor {
    position: absolute;
    left:0;
    top:0;
    width: 30px;
    height: 30px;
    pointer-events: none;
    z-index:10000;
      transition: opacity 0.2s ease-in-out 0.5s;
  }
  
  .hidden-ball1 #magic-cursor {
      opacity:0!important;
      visibility:hidden;
  }
  
  
  #ball {
      position: fixed;
      width: 80px;
      height: 80px;
      border: 1px solid #c19a5b;
      border-radius: 50%;
      pointer-events: none;
      opacity:1;
      box-sizing:border-box;
    transform: scale(0.5);	
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .mfp-zoom-out-cur #ball {
      opacity:0;
      transition: opacity 0.2s ease-in-out 0s;
  }
  
  .light-content #ball, #ball.over-movie,  .light-content #ball.with-icon {
      border: 1px solid #c19a5b;
      border-color:#c19a5b;
  }
  
  #ball:before {
      font-family: FontAwesome;
      content: "\f077";
      font-size:12px;
      width:8px;
      height:16px;
      line-height:26px;
      text-align:center;
      position:absolute;
      left: 32px;
      top: -42px;
      color:#c19a5b;
      opacity:0;
      transform: translateY(-40px);
      -webkit-transform: translateY(-40px);
      transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .light-content #ball:before {
      color:#c19a5b;
  }
  
  #ball::after {
      font-family: FontAwesome;
      content: "\f078";
      font-size: 12px;
      width: 8px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      position: absolute;
      left: 32px;
      top: 100px;
      color: #c19a5b;
      opacity:0;
      transform: translateY(40px);
      -webkit-transform: translateY(40px);
      transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .light-content #ball:before, .light-content #ball:after {
      color:#c19a5b;
  }
  
  .scale-up #ball:before, .scale-drag-horizontal #ball:before {
      opacity:1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .scale-drag-horizontal #ball:before {
      color: #c19a5b;
  }
  
  .scale-up #ball:after, .scale-drag-horizontal #ball:after {
      opacity:1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .scale-drag-horizontal #ball:after {
      color: #c19a5b;
  }
  
  .scale-up.scale-none #ball:before, .scale-up.scale-none #ball:after {
      opacity:0;
  }
  
  
  
  #ball-drag {
      position: absolute;
      width: 72px;
      height: 72px;
      pointer-events: none;
      opacity:1;
      box-sizing:border-box;	
  }
  
  #ball-drag:before {
      font-family: FontAwesome;
      content: "\f053";
      font-size:12px;
      width:8px;
      height:16px;
      line-height:26px;
      text-align:center;
      position:absolute;
      left: -40px;
      top: 24px;
      color:#c19a5b;
      opacity:0;
      transform: translateX(-40px);
      -webkit-transform: translateX(-40px);
      transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .light-content #ball-drag:before {
      color:#c19a5b;
  }
  
  #ball-drag::after {
      font-family: FontAwesome;
      content: "\f054";
      font-size: 12px;
      width: 8px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      position: absolute;
      right: -39px;
      left:auto;
      top: 30px;
      color: #c19a5b;
      opacity:0;
      transform: translateX(40px);
      -webkit-transform: translateX(40px);
      transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .light-content #ball-drag:before, .light-content #ball-drag:after {
      color:#c19a5b;
  }
  
  .scale-drag #ball-drag:before {
      opacity:1;
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .scale-drag #ball-drag:after {
      opacity:1;
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .scale-up.scale-drag #ball-drag:before, .scale-up.scale-drag #ball-drag:after {
      opacity:0;
  }
  
  
  
  
  
  
  #ball i {
      color:#c19a5b;
      width:76px;
      height:80px;
      line-height:78px;
      text-align:center;
      font-size:12px;
      display:block;
      opacity:1;
      transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }

  #ball p {
      color:#fff;
      height:16px;
      line-height:16px;
      margin:0;
      text-align:center;
      font-size:12px;
      font-weight:600;
      display:block;
      opacity:1;
      transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      font-family: 'Lora', serif;
  }
 
 
  
  .light-content #ball i, #ball.over-movie i, .light-content #ball.with-icon i {
      color:#c19a5b;
  }
  
  .light-content #ball.with-icon.dark-icon i {
      color:#c19a5b;
  }
  
  .scale-up #ball i {
      opacity:0;
      transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  #ball.with-icon i {
      width:76px;
  }
  
  #ball.with-icon i:nth-child(2) {
      display:none;
  }
  
  #ball.close-icon i {
      width:75px;
      height:76px;
      font-size:14px;
  }
  
  #ball.over-movie i.fa-play, #ball.over-movie.pause-movie i.fa-pause {
      display:block;
  }
  
  #ball.over-movie i.fa-pause, #ball.over-movie.pause-movie i.fa-play {
      display:none;
  }
  
  #ball-loader {
      width: 100px;
      height: 100px;
      position:absolute;
      background-color: transparent;
      border-right: 2px solid transparent;
      border-bottom: 2px solid #c19a5b;
      border-left: 2px solid transparent;
      border-top: 2px solid transparent;
      border-radius: 100px;
      box-sizing: border-box;
      opacity:0;
      transform: translate(-14px, -14px) rotate(0deg);
      -webkit-animation: rotating 0.8s ease-in-out infinite;
      animation: rotating 0.8s ease-in-out infinite;
      transition: opacity 0s ease-in-out 0s;
  }





/* ------------------------------------- swip sldier -------------------------------- */
/* ------------------------------------- swip sldier -------------------------------- */
/* ------------------------------------- swip sldier -------------------------------- */



/*--------------------------------------------------
	Swiper Slider
---------------------------------------------------*/	

	.swiper-container {
	  margin: 0 auto;
	  position: relative;
	  overflow: hidden;
	  z-index: 1;
	}
	.swiper-container-no-flexbox .swiper-slide {
	  float: left;
	}
	.swiper-container-vertical > .swiper-wrapper {
	  flex-direction: column;
	}
	.swiper-wrapper {
	  position: relative;
	  width: 100%;
	  height: 100%;
	  z-index: 1;
	  display: flex;
	  transition-property: transform;
	  box-sizing: content-box;
	}
	.swiper-container-android .swiper-slide,
	.swiper-wrapper {
	  transform: translate3d(0px, 0, 0);
	}
	.swiper-container-multirow > .swiper-wrapper {
	  -webkit-box-lines: multiple;
	  -moz-box-lines: multiple;
	  flex-wrap: wrap;
	}
	.swiper-container-free-mode > .swiper-wrapper {
	  transition-timing-function: ease-out;
	  margin: 0 auto;
	}
	.swiper-slide {
	  -webkit-flex-shrink: 0;
	  -ms-flex: 0 0 auto;
	  flex-shrink: 0;
	  position: relative;
	}
	/* Auto Height */
	.swiper-container-autoheight,
	.swiper-container-autoheight .swiper-slide {
	  height: auto;
	}
	.swiper-container-autoheight .swiper-wrapper {
	  align-items: flex-start;
	  transition-property: transform, height;
	}
	/* a11y */
	.swiper-container .swiper-notification {
	  position: absolute;
	  left: 0;
	  top: 0;
	  pointer-events: none;
	  opacity: 0;
	  z-index: -1000;
	}
	/* IE10 Windows Phone 8 Fixes */
	.swiper-wp8-horizontal {
	  touch-action: pan-y;
	}
	.swiper-wp8-vertical {
	  touch-action: pan-x;
	}
	/* Arrows */
	.swiper-button-prev,
	.swiper-button-next {
	  position: absolute;
	  top: 50%;
	  width: 27px;
	  height: 44px;
	  margin-top: -22px;
	  z-index: 10;
	  cursor: pointer;
	  background-size: 27px 44px;
	  background-position: center;
	  background-repeat: no-repeat;
	}
	.swiper-button-prev.swiper-button-disabled,
	.swiper-button-next.swiper-button-disabled {
	  opacity: 0.35;
	  cursor: auto;
	  pointer-events: none;
	}
	.swiper-button-prev,
	.swiper-container-rtl .swiper-button-next {
	  background-image: url("");
	  left: 10px;
	  right: auto;
	}
	.swiper-button-prev.swiper-button-black,
	.swiper-container-rtl .swiper-button-next.swiper-button-black {
	  background-image: url("");
	}
	.swiper-button-prev.swiper-button-white,
	.swiper-container-rtl .swiper-button-next.swiper-button-white {
	  background-image: url("");
	}
	.swiper-button-next,
	.swiper-container-rtl .swiper-button-prev {
	  background-image: url("");
	  right: 10px;
	  left: auto;
	}
	.swiper-button-next.swiper-button-black,
	.swiper-container-rtl .swiper-button-prev.swiper-button-black {
	  background-image: url("");
	}
	.swiper-button-next.swiper-button-white,
	.swiper-container-rtl .swiper-button-prev.swiper-button-white {
	  background-image: url("");
	}
	/* Pagination Styles */
	.swiper-pagination {
	  position: absolute;
	  text-align: center;
	  transition: 300ms;
	  transform: translate3d(0, 0, 0);
	  z-index: 10;
	}
	.swiper-pagination.swiper-pagination-hidden {
	  opacity: 0;
	}
	/* Common Styles */
	.swiper-pagination-fraction,
	.swiper-pagination-custom,
	.swiper-container-horizontal > .swiper-pagination-bullets {
	  bottom: 10px;
	  left: 0;
	  width: 100%;
	}
	/* Bullets */
	.swiper-pagination-bullet {
	  width: 8px;
	  height: 8px;
	  display: inline-block;
	  border-radius: 100%;
	  background: #000;
	  opacity: 0.2;
	}
	button.swiper-pagination-bullet {
	  border: none;
	  margin: 0;
	  padding: 0;
	  box-shadow: none;
	  -moz-appearance: none;
	  -ms-appearance: none;
	  -webkit-appearance: none;
	  appearance: none;
	}
	.swiper-pagination-clickable .swiper-pagination-bullet {
	  cursor: pointer;
	}
	.swiper-pagination-white .swiper-pagination-bullet {
	  background: #fff;
	}
	.swiper-pagination-bullet-active {
	  opacity: 1;
	  background: #007aff;
	}
	.swiper-pagination-white .swiper-pagination-bullet-active {
	  background: #fff;
	}
	.swiper-pagination-black .swiper-pagination-bullet-active {
	  background: #000;
	}
	.swiper-container-vertical > .swiper-pagination-bullets {
	  right: 10px;
	  top: 50%;
	  transform: translate3d(0px, -50%, 0);
	}
	.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
	  margin: 5px 0;
	  display: block;
	}
	.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	  margin: 0 5px;
	}
	/* Progress */
	.swiper-pagination-progress {
	  background: rgba(0, 0, 0, 0.25);
	  position: absolute;
	}
	.swiper-pagination-progress .swiper-pagination-progressbar {
	  background: #007aff;
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  transform: scale(0);
	  transform-origin: left top;
	}
	.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
	  transform-origin: right top;
	}
	.swiper-container-horizontal > .swiper-pagination-progress {
	  width: 100%;
	  height: 4px;
	  left: 0;
	  top: 0;
	}
	.swiper-container-vertical > .swiper-pagination-progress {
	  width: 4px;
	  height: 100%;
	  left: 0;
	  top: 0;
	}
	.swiper-pagination-progress.swiper-pagination-white {
	  background: rgba(255, 255, 255, 0.5);
	}
	.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
	  background: #fff;
	}
	.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
	  background: #000;
	}
	/* 3D Container */
	.swiper-container-3d {
	  -o-perspective: 1200px;
	  perspective: 1200px;
	}
	.swiper-container-3d .swiper-wrapper,
	.swiper-container-3d .swiper-slide,
	.swiper-container-3d .swiper-slide-shadow-left,
	.swiper-container-3d .swiper-slide-shadow-right,
	.swiper-container-3d .swiper-slide-shadow-top,
	.swiper-container-3d .swiper-slide-shadow-bottom,
	.swiper-container-3d .swiper-cube-shadow {
	  transform-style: preserve-3d;
	}
	.swiper-container-3d .swiper-slide-shadow-left,
	.swiper-container-3d .swiper-slide-shadow-right,
	.swiper-container-3d .swiper-slide-shadow-top,
	.swiper-container-3d .swiper-slide-shadow-bottom {
	  position: absolute;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  pointer-events: none;
	  z-index: 10;
	}
	.swiper-container-3d .swiper-slide-shadow-left {
	  /* Safari 4+, Chrome */
	  /* Chrome 10+, Safari 5.1+, iOS 5+ */
	  /* Firefox 3.6-15 */
	  /* Opera 11.10-12.00 */
	  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	  /* Firefox 16+, IE10, Opera 12.50+ */
	}
	.swiper-container-3d .swiper-slide-shadow-right {
	  /* Safari 4+, Chrome */
	  /* Chrome 10+, Safari 5.1+, iOS 5+ */
	  /* Firefox 3.6-15 */
	  /* Opera 11.10-12.00 */
	  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	  /* Firefox 16+, IE10, Opera 12.50+ */
	}
	.swiper-container-3d .swiper-slide-shadow-top {
	  /* Safari 4+, Chrome */
	  /* Chrome 10+, Safari 5.1+, iOS 5+ */
	  /* Firefox 3.6-15 */
	  /* Opera 11.10-12.00 */
	  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	  /* Firefox 16+, IE10, Opera 12.50+ */
	}
	.swiper-container-3d .swiper-slide-shadow-bottom {
	  /* Safari 4+, Chrome */
	  /* Chrome 10+, Safari 5.1+, iOS 5+ */
	  /* Firefox 3.6-15 */
	  /* Opera 11.10-12.00 */
	  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	  /* Firefox 16+, IE10, Opera 12.50+ */
	}
	/* Coverflow */
	.swiper-container-coverflow .swiper-wrapper,
	.swiper-container-flip .swiper-wrapper {
	  /* Windows 8 IE 10 fix */
	  -ms-perspective: 1200px;
	}
	/* Cube + Flip */
	.swiper-container-cube,
	.swiper-container-flip {
	  overflow: visible;
	}
	.swiper-container-cube .swiper-slide,
	.swiper-container-flip .swiper-slide {
	  pointer-events: none;
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  z-index: 1;
	}
	.swiper-container-cube .swiper-slide .swiper-slide,
	.swiper-container-flip .swiper-slide .swiper-slide {
	  pointer-events: none;
	}
	.swiper-container-cube .swiper-slide-active,
	.swiper-container-flip .swiper-slide-active,
	.swiper-container-cube .swiper-slide-active .swiper-slide-active,
	.swiper-container-flip .swiper-slide-active .swiper-slide-active {
	  pointer-events: auto;
	}
	.swiper-container-cube .swiper-slide-shadow-top,
	.swiper-container-flip .swiper-slide-shadow-top,
	.swiper-container-cube .swiper-slide-shadow-bottom,
	.swiper-container-flip .swiper-slide-shadow-bottom,
	.swiper-container-cube .swiper-slide-shadow-left,
	.swiper-container-flip .swiper-slide-shadow-left,
	.swiper-container-cube .swiper-slide-shadow-right,
	.swiper-container-flip .swiper-slide-shadow-right {
	  z-index: 0;
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	}
	/* Cube */
	.swiper-container-cube .swiper-slide {
	  visibility: hidden;
	  transform-origin: 0 0;
	  width: 100%;
	  height: 100%;
	}
	.swiper-container-cube.swiper-container-rtl .swiper-slide {
	  transform-origin: 100% 0;
	}
	.swiper-container-cube .swiper-slide-active,
	.swiper-container-cube .swiper-slide-next,
	.swiper-container-cube .swiper-slide-prev,
	.swiper-container-cube .swiper-slide-next + .swiper-slide {
	  pointer-events: auto;
	  visibility: visible;
	}
	.swiper-container-cube .swiper-cube-shadow {
	  position: absolute;
	  left: 0;
	  bottom: 0px;
	  width: 100%;
	  height: 100%;
	  background: #000;
	  opacity: 0.6;
	  -webkit-filter: blur(50px);
	  filter: blur(50px);
	  z-index: 0;
	}
	/* Fade */
	.swiper-container-fade.swiper-container-free-mode .swiper-slide {
	  transition-timing-function: ease-out;
	}
	.swiper-container-fade .swiper-slide {
	  pointer-events: none;
	  transition-property: opacity;
	}
	.swiper-container-fade .swiper-slide .swiper-slide {
	  pointer-events: none;
	}
	.swiper-container-fade .swiper-slide-active,
	.swiper-container-fade .swiper-slide-active .swiper-slide-active {
	  pointer-events: auto;
	}
	
	/* Preloader */
	.swiper-lazy-preloader {
	  width: 42px;
	  height: 42px;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  margin-left: -21px;
	  margin-top: -21px;
	  z-index: 10;
	  transform-origin: 50%;
	  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
	  animation: swiper-preloader-spin 1s steps(12, end) infinite;
	}
	.swiper-lazy-preloader:after {
	  display: block;
	  content: "";
	  width: 100%;
	  height: 100%;
	  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	  background-position: 50%;
	  background-size: 100%;
	  background-repeat: no-repeat;
	}
	.swiper-lazy-preloader-white:after {
	  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	}
	@-webkit-keyframes swiper-preloader-spin {
	  100% {
		-webkit-transform: rotate(360deg);
	  }
	
	}
	@keyframes swiper-preloader-spin {
	  100% {
		transform: rotate(360deg);
	  }
	}


  .swiper-button-prev i, .swiper-button-next i{
    color: #c19a5b;
    font-size: 25px;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 15px;
  }


  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 5px;
  }
  


  /* Scrollbar */


	.swiper-scrollbar-drag {
	  height: 100%;
	  width: 100%;
	  position: relative;
	  background: rgba(0, 0, 0, 0.5);
	  border-radius: 10px;
	  left: 0;
	  top: 0;
	}
	.swiper-scrollbar-cursor-drag {
	  cursor: move;
	}

  

.swiper-scrollbar {
  height: 1px;
  width: 270px;
  background-color: #e8d9c3;
  position: relative;
  top: -24px;
  opacity: 1 !important;
}


.swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 0;
  height: 48px;
}

.swiper-scrollbar-drag {
  background: none;
}

.swiper-scrollbar-drag:after {

  content: "";
  position: absolute;
  background-image: url("../images/arrow.svg");
  top: -24px;
  left: 20%;
  width: 48px;
  height: 48px;
}




  
/*--------------------------------------------------
	Owl Slider and Carousel
---------------------------------------------------*/
.content-marquee-wrapper {
  position:relative;
  float:left;
  z-index:0;
}

	
	.content-marquee {
		white-space: nowrap;  
		-webkit-animation: content-marquee 15s infinite linear;
		        animation: content-marquee 15s infinite linear;
            padding-left: 2vw;
    animation-direction: reverse;
	}
  
	.content-marquee:after{
		content: attr(data-text);
    padding-left: 2vw;
	}


	@-webkit-keyframes content-marquee {
	  0% {
		transform: translateX(0)
	  }
	  100% {
		transform: translateX(-50%)
	  }
	}


	@keyframes content-marquee {
	  0% {
		transform: translateX(0)
	  }
	  100% {
		transform: translateX(-50%)
	  }
	}


  .content-marquee-wrapper1 {
    position:relative;
    float:left;
    z-index:0;

  }
  
	.content-marquee1 {
		white-space: nowrap;
		-webkit-animation: content-marquee1 15s infinite linear;
		        animation: content-marquee1 15s infinite linear;
            padding-left: 2vw;
	}
  
	.content-marquee1:after{
		content: attr(data-text-one);
    padding-left: 2vw;
	}


	@-webkit-keyframes content-marquee1 {
	  0% {
		transform: translateX(0)
	  }
	  100% {
		transform: translateX(-50%)
	  }
	}


	@keyframes content-marquee1 {
	  0% {
		transform: translateX(0)
	  }
	  100% {
		transform: translateX(-50%)
	  }
	}
	










